# Database Connection
MYSQL_HOST= # mysql-db for prod
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE= # main for prod

# Redis Connection
REDIS_HOST= # redis-server for prod
REDIS_PORT=6379 # 6379 by default

# JWT Token Secret
TOKEN_SECRET=

# Main Config
APP_PORT=3000 # 3000 by default
LOG_LEVEL=info # info by default
NODE_ENV=production

# OAuth Config
OAUTH_AUTH_URL=https://accounts.google.com/o/oauth2/v2/auth
OAUTH_TOKEN_URL=https://oauth2.googleapis.com/token
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=